body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./login\ .jpg); /* تأكد من صحة الرابط */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-container {
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: white; /* تغيير النص لونه أبيض علشان يبقى واضح */
}

.login-container h1 {
    margin-bottom: 20px;
    color: white;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container #captchaInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: solid #F5F5DC;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9; /* خلفية فاتحة لمدخلات النص */
}

.login-container .captcha-container {
    margin: 15px 0; /* مسافة بين الكابتشا وبقية المدخلات */
}

.login-container .captcha-box {
    font-size: 24px;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: #333; /* لون النص داخل كود الكابتشا */
}

label {
    color: #000;
    background-color: white;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.login-container button {
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}

.login-container button:hover {
    background-color: #ffcc00;
    color: black;
}

.login-container a {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.register-button {
    background-color: #007bff; /* خلفية زر التسجيل باللون الأزرق */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.register-button:hover {
    background-color: #0056b3; /* تغيير اللون عند التمرير فوق الزر */
}
